
<!DOCTYPE html>
<html lang="en">

    <% include partials/head.ejs %>

<body>
	<header id="s-header">
		<nav class="navbar navbar-expand-lg">
			<div class="container px-0">
				<a class="navbar-brand" href="/">
		    	<img src="/img/logo.png" alt="Logotype">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#s-services">Features</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#s-pricing-anchor">Pricing</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		<div class="container">		
			<div id="main-text">
				<div class="row">
					<div class="col-xl-6 col-lg-8">
						<h1>DISCLAIMER</h1>
						<p>XploitWizer Provides no warranty with this software and will not be responsible for any direct or indirect damage caused due to the usage of this tool.
						</br>XploitSPY is built for Educational Purpose. Use at your own Risk.</p>
						<div class="row button_wrap">
							<div class="col-6">
								<a href="/login" class="btn-custom">Login</a>
							</div>
							<!-- <div class="col-6">
								<a href="javascript:LoginFunc('register');" class="btn-custom-black">Register</a>
							</div> -->
						</div>				
					</div>
					<div class="img_wrap">
						<img src="/img/hacker.png" alt="">
					</div>
				</div>			
			</div>
		</div>	
		<a href="#s-services" class="scroll-down flowing-scroll"><img src="/img/scroll-down.png" alt="scroll down">Scroll Down</a>
	</header>
	<footer id="s-footer">
		<a href="javascript:LoginFunc('download');" class="scroll-top"><img src="/img/svg/downloadmain.svg" alt="Download"></a>
	</footer>

<!-- <script src="js/bootstrap.bundle.min.js"></script>
	
	<script src="js/main.js"></script> -->
</body>
</html>
